
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-gmail:before { content: '\e804'; } /* '' */
.icon-github-circled:before { content: '\e806'; } /* '' */
.icon-bitbucket:before { content: '\e801'; } /* '' */